extend layout
block content
    .container      
        ol.breadcrumb
            li
                a(href="/admin/campanas") Campañas
            li.active  Historial Total
            
        .col-md-12#historialTotal        
            .row.form-group
                .pull-right
                        .btn-group.campana-opt
                            a#dlink(style="display:none;") 
                            button.btn.btn-success(type="button" onclick="tableToExcel('example', 'example', 'consolidado.xls')")
                                span.fa.fa-file-excel-o

            .table-responsive.table-shadow                  
                table.table#example
                    each campana in campanas
                        thead
                            tr#headingHistorial
                                th.sort(data-sort="fecha" style="text-align:center;") Fecha  
                                th.sort(data-sort="nit" style="text-align:center;") NIT
                                th.sort(data-sort="nombredist" style="text-align:center;") Nombre Distribuidor
                                th.sort(data-sort="ciudad" style="text-align:center;") Ciudad                                                              
                                th.sort(data-sort="cc" style="text-align:center;") CC
                                th.sort(data-sort="nombre" style="text-align:center;") Nombre
                                th Cargo
                                th Email
                                th Celular
                                th.sort(data-sort="registro" style="text-align:center;") Tipo Registro
                                each campo in campana.fields
                                    th(style="text-align:center;") #{campo.name}
                                th(style="text-align:center;") Total 
                                th ID Distribuidor
                                th(style="text-align:center; white-space: nowrap;") Campaña
                        tbody.list#bodyHistorial
                            each venta in ventas
                                if venta.campana == campana._id
                                    tr
                                        td.fecha(style="text-align:center; text-transform:capitalize;") #{venta.fechainformat}
                                        td.nit(style="text-align:center") #{venta.nit}
                                        td #{venta.nomDist}
                                        td(style="text-transform:capitalize") #{venta.ciudad}                                      
                                        td.cc(style="text-align:center") #{venta.vendedor}
                                        td.nombre(style="text-align:center") #{venta.nomVend}
                                        td #{venta.cargoVend}
                                        td #{venta.emailVend}
                                        td #{venta.celularVend}
                                        td.registro(style="text-align:center") SO
                                        -var SO = 0
                                        each campoVenta in venta.fields
                                            -SO = SO + campoVenta.value 
                                            td(style="text-align:center") #{campoVenta.value}
                                        td(style="text-align:center") #{SO}
                                        td(style="text-align:center") #{venta.distribuidor}
                                        td(style="text-align:center; white-space: nowrap;") #{campana.nombre}

                                    tr
                                        td.fecha(style="text-align:center; text-transform:capitalize;") #{venta.fechainformat}
                                        td.nit(style="text-align:center") #{venta.nit}
                                        td #{venta.nomDist}
                                        td(style="text-transform:capitalize;") #{venta.ciudad}
                                        td.cc(style="text-align:center") #{venta.vendedor}
                                        td.nombre(style="text-align:center") #{venta.nomVend}
                                        td #{venta.cargoVend}
                                        td #{venta.emailVend}
                                        td #{venta.celularVend}
                                        td.registro(style="text-align:center") MILLAS
                                        -var millas = 0
                                        each campoVenta in venta.fields
                                            each campo1 in campana.fields
                                                if campoVenta.name == campo1.name
                                                    -millas = millas + campoVenta.value*campo1.value
                                                    td(style="text-align:center") #{campoVenta.value*campo1.value}
                                        td(style="text-align:center") #{millas}    
                                        td(style="text-align:center") #{venta.distribuidor}                   
                                        td #{campana.nombre}
    <!-- Delete Campana Modal -->
    .modal.fade#deleteCampanaModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;     
                    h4.modal-title ¿Está seguro que desea eliminar esta Campaña?                                    
                .modal-body
                    form
                        p Toda la información de esta campaña será eliminada del sistema. 
                        br     
                .modal-footer
                    button.btn(data-dismiss="modal" aria-hidden="true") Cancelar
                    a.btn.btn-danger Eliminar    
   
            