extend layout
block content
    .container
        ol.breadcrumb
            li
                a(href="/admin/distribuidor/#{user.nit}?distribuidor=#{user._id}") Vendedores
            li.active  #{user.nit} 
            li.active  Nuevo
            
        .row
            form(action="/admin/nuevo-vendedor/#{user.nit}" method="post")
                .col-md-12
                    .col-md-6                        
                        .form-group
                            input(type="hidden" name= "distribuidor" value="#{user._id}")  
                            input(type="hidden" name= "nit" value="#{user.nit}")   
                            label Nombre 
                            input.form-control(type="text" name="nombre" required)  
                        .form-group
                            label Apellido
                            input.form-control(type="text" name="apellido" required)
                        .form-group
                            label Identificación
                            input.form-control(type="text" name="identificacion" required)  
                        .form-group
                            label Confirmar identificación
                            input.form-control(type="text" name="confid" required) 
                        .form-group.col-md-6
                            label PA                            
                                input.form-control(type="number" name="pa" required min="20")  
                    .col-md-6
                        .form-group
                            label Cargo
                            input.form-control(type="text" name="cargo" required)  
                        .form-group
                            label Email
                            input.form-control(type="email" name="email" required)  
                        .form-group
                            label Celular
                            input.form-control(type="text" name="celular" pattern="[0-9]{10}" required)                            
                        .form-group
                            label Ciudad
                            select.form-control(name="ciudad" required)
                                option(value="Aguachica") Aguachica
                                option(value="Armenia") Armenia
                                option(value="Bogota") Bogotá
                                option(value="Barrancabermeja") Barrancabermeja 
                                option(value="Barranquilla") Barranquilla
                                option(value="Bucaramanga") Bucaramanga
                                option(value="Cali") Cali
                                option(value="Cartagena") Cartagena
                                option(value="Cucuta") Cucuta                                 
                                option(value="Duitama") Duitama
                                option(value="Florencia") Florencia 
                                option(value="Fusagasuga") Fusagasuga
                                option(value="Ibague") Ibague
                                option(value="Manizales") Manizales
                                option(value="Medellin") Medellin 
                                option(value="Neiva") Neiva
                                option(value="Ocaña") Ocaña
                                option(value="Pasto") Pasto
                                option(value="Pereira") Pereira
                                option(value="Sogamoso") Sogamoso
                                option(value="Tulua") Tulua
                                option(value="Tunja") Tunja
                                option(value="Ubate") Ubate
                                option(value="Villavicencio") Villavicencio 
                        .form-group
                            label Direccion de residencia
                            input.form-control(type="text" name="direccion" required) 
                    .col-md-12
                        hr 
                        .pull-right
                            button.btn.btn-success(type="submit") Ingresar