extend layout
block content
    .container
      .col-md-12
        ol.breadcrumb
            li
                a(href="/admin")  Distribuidores
            li.active Vendedores
            li.active NIT: #{nit}
        if(success!=null)
            .alert.alert-success.alert-dismissible(role="alert" style="")
                button.close(type="button" data-dismiss="alert")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                | La venta ha sido registrada exitosamente. Vendedor: 
                strong   #{success}
        
        .row#vendors 
            .panel.panel-default 
                .panel-body
                    .row                    
                        .col-md-4
                                form.navbar-form(role="search")
                                .input-group
                                    input.search.form-control(type="text" placeholder="Buscar" name="q")
                                    .input-group-btn
                                        button.btn.btn-default(type="submit")
                                            i.glyphicon.glyphicon-search                       
                        .pull-right
                                .btn-group.campana-opt
                                    a(href="/admin/historialDistribuidor/#{distribuidor}")
                                        button.btn.btn-info(type="button")
                                            span.glyphicon.glyphicon-list-alt
                                    a#dlink(style="display:none;")  
                                    button.btn.btn-success(type="button" onclick="tableToExcel('example', 'example', 'vendedores.xls')")
                                        span.fa.fa-file-excel-o
                                    a(href="/admin/nuevo-vendedor/#{nit}?distribuidor=#{distribuidor}")
                                        button.btn.btn-info(type="button")
                                            span.glyphicon.glyphicon-plus                
       
                table.table#example
                    thead
                        tr
                            th.sort(data-sort="nit") NIT
                            th.sort(data-sort="fname") Nombre
                            th.sort(data-sort="lname") Apellido 
                            th.sort(data-sort="iden") Identificación
                            th.sort(data-sort="cargo") Cargo
                            th.sort(data-sort="email") Email
                            th.sort(data-sort="celular") Celular
                            th.sort(data-sort="ciudad")  Ciudad
                            th(style="width: 25px;")
                            th(style="width: 25px;")
                            th(style="width: 25px;")
                    tbody.list
                        each vendor in vendors
                            tr(data-id="#{vendor._id}")
                                td.nit #{vendor.nit}
                                td.fname(style="text-transform:capitalize;") #{vendor.nombre}
                                td.lname(style="text-transform:capitalize;") #{vendor.apellido}
                                td.iden #{vendor.identificacion}
                                td.cargo(style="text-transform:capitalize;") #{vendor.cargo}
                                td.email(style="text-transform:lowercase;") #{vendor.email}
                                td.celular #{vendor.celular}
                                td.ciudad(style="text-transform:capitalize;") #{vendor.ciudad}
                                td
                                    a(onclick="registrarVenta('#{vendor.distribuidor}','#{nit}','#{vendor.identificacion}')" style="cursor:pointer" title="Registrar venta")
                                        i.glyphicon.glyphicon-plus-sign
                                td                                 
                                    a.btnDelete(style="color:#D9534F;")
                                        i.glyphicon.glyphicon-remove
                                td
                                    a(href="/admin/vendedor/edit/#{vendor.identificacion}")
                                        i.glyphicon.glyphicon-pencil
    <!-- Forgot Password Modal -->
    .modal.fade#deleteVendorModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;     
                    h4.modal-title ¿Está seguro que desea eliminar este vendedor?                                    
                .modal-body
                   
                        p Toda la información del vendedor será eliminada del sistema junto con la información de sus ventas. 
                        br     
                .modal-footer
                    button.btn(data-dismiss="modal" aria-hidden="true") Cancelar
                    button.btn.btn-danger#btnDeleteYes(data-dismiss="modal") Eliminar
block scripts
    script.
        $('a.btnDelete').on('click', function (e) {
            e.preventDefault();
            var id = $(this).closest('tr').data('id');
            $('#deleteVendorModal').data('id', id).modal('show');
        });

        $('#btnDeleteYes').click(function (e) {
            var id = $('#deleteVendorModal').data('id');           
            var urls ="/admin/vendedor/rm/"+id;
            console.log(urls);
            e.preventDefault();
            $.ajax({
                type : "POST",
                url: urls,         
                success : function(response){ 
                  $('#deleteVendorModal').modal('hide'); 
                  if(response.error){    
                    alert("Lo sentimos. Hubo un error en el sistema intentelo mas tarde.");                                            
                  } else {
                      $('[data-id=' + id + ']').remove();                  
                  }
                }
            });            
        });
        // Registar Venta
        function registrarVenta(distribuidor,nit,iden){
            $.ajax({
               type: "get",
               url: "/api/isCampanaActive",
               success: function(response){
                 if(response.success){
                    window.location = '/admin/vendedores/venta/' + nit + '/' + iden + '?distribuidor=' + distribuidor;
                 }
                 else{
                    errAlert("<strong>Atención!</strong> " + response.err);
                 }
               }
            });
        }

        