extend layout
block content
    .container
        ol.breadcrumb
            
            if !admin
                li    
                    a(href="/vendedores")  Vendedores 
            else
                li
                    a(href="/admin/distribuidor/#{nit}") Vendedores
            li.active  Historial
            li.active  #{user.nit}
        .row
            .panel.panel-default  
                .panel-body
                    .row                    
                        .col-md-3(style='display:none;')
                            #reportrange 
                                i(style="margin-right:12px;").glyphicon.glyphicon-calendar
                                span #{moment().format('MMMM DD,YYYY')} - #{moment().add('months', 1).format('MMMM DD,YYYY')}
                                .pull-right
                                    b.caret 

                        .col-md-3
                            select.form-control#selectCampana( onchange='cambiarCampana()')
                                option(value='') seleccione un periodo


                        if(!locals.general)           
                            .pull-right
                                .col-md-4
                                    .navbar-form
                                        if !admin 
                                            if user.permissionVentas   
                                                a(href="/vendedores/venta/#{vendor}")
                                                    .btn.btn-success.btn-sm
                                                        span.glyphicon.glyphicon-plus 
                                                        |   Venta nueva
                                        else                                      
                                            a(href="/admin/vendedores/venta/#{nit}/#{vendor}")
                                                .btn.btn-success.btn-sm
                                                    span.glyphicon.glyphicon-plus 
                                                    |   Venta nueva         
                table.table
                    
                        thead
                            tr#headingHistorial
                                if campana.active
                                    th(style="text-align:center;") Fecha
                                    th(style="text-align:center;") CC
                                    th(style="text-align:center;") Nombre
                                    each campo in campana.fields
                                        th(style="text-align:center;") #{campo.name}
                                    th(style="text-align:center;") Total
                        tbody#bodyHistorial
                            if campana.active
                                each venta in ventas
                                    tr
                                        td(style="text-align:center; text-transform:capitalize;") #{venta.fechainformat}
                                        td(style="text-align:center") #{venta.vendedor}
                                        td(style="text-align:center") #{venta.nomVend}
                                        -var SO = 0
                                        each campoVenta in venta.fields
                                            -SO = SO + campoVenta.value 
                                            td(style="text-align:center") #{campoVenta.value}
                                        td(style="text-align:center") #{SO}
                                
block scripts
    script.
        // Registar Venta
        $.ajax({
           type: "get",
           url: "/api/readCampanas",
           success: function(response){
             if(response.success){
                $('#selectCampana').html();
                $.each(response.campanas, function(i,v){
                    if (v.active){
                        $('#selectCampana').append( new Option(v.nombre + ' (activa)',v._id,false,false));          
                    }
                    else{
                        $('#selectCampana').append( new Option(v.nombre + ' (cerrada)',v._id,false,false)); 
                    }                     
                });
                $('#selectCampana').val('#{campana._id}');                                
             }
             else{
                errAlert("<strong>Atención!</strong> " + response.err);
             }
           }
        });

        function cambiarCampana(){
            var campana = $('#selectCampana').val();
            if(campana != '')
            {
                // Agregar columnas correctas a tabla
                $.ajax({
                   type: "get",
                   url: '/api/readCampanaById?campana=' + campana,
                   success: function(response){
                     if(response.success){
                        $('#headingHistorial').html('');
                        $('#headingHistorial').append('<th style="text-align:center;">Fecha</th><th style="text-align:center;">CC</th><th style="text-align:center;">Nombre</th>');
                        $.each(response.campana.fields,function(i,v){
                            $('#headingHistorial').append('<th style="text-align:center;">' + v.name + '</th>');                            
                        });
                        $('#headingHistorial').append('<th style="text-align:center;"> Total </th>'); 
                     }
                     else{
                        errAlert("<strong>Atención! </strong> " + response.err);
                     }
                   }
                }); 
                // Buscar Ventas por Campana y Distribuidor
                $.ajax({
                   type: "get",
                   url: "/api/readSalesByCampanaDistributer?campana=" + campana + '&distributer=#{user._id}',
                   success: function(response){
                     if(response.success){
                        $('#bodyHistorial').html('');
                        $.each(response.ventas,function(i,v){
                            //-----------------------------------------------
                            // Agrega el campo de venta con calculo del total
                            //-----------------------------------------------
                            var tr = '<tr>';
                            console.log(v);
                            tr += '<td style="text-align:center">'+moment(v.fecha).format('MMMM DD, YYYY')+'</td>';
                            tr += '<td style="text-align:center">'+v.vendedor+'</td>';
                            tr += '<td style="text-align:center">'+v.nomVend+'</td>';
                            var total = 0;
                            $.each(v.fields,function(i1,v1){
                                total += v1.value;
                                tr += '<td style="text-align:center">' + v1.value + '</td>';
                            });
                            tr += '<td style="text-align:center">' + total + '</td>';                             
                            // Agrega a la tabla el tr
                            $('#bodyHistorial').append(tr);
                        });
                     }
                     else{
                        errAlert("<strong>Atención!</strong> " + response.err);
                     }
                   }
                });            
            }
        }
