extend layout
block content
    .container
        ol.breadcrumb
            if !admin
                li
                    a(href="/vendedores") Vendedores
                li.active #{vendor}

            else
                li
                    a(href="/admin/distribuidor/#{nit}?distribuidor=#{distribuidor}") Vendedores
                li.active #{vendor}
        h1 Registrar Unidades - #{campana.nombre}
        hr
        .row
            .panel.panel-default.col-md-6.col-md-offset-3
                .panel-body.form-horizontal
                    if !admin                
                        form#formVenta(action="/vendedores/venta" method="post")
                                                 
                                input#distribuidor(type="hidden" name= "distribuidor" value="#{user._id}")  
                                input#nit(type="hidden" name="nit" value="#{user.nit}")
                                input#vendor(type="hidden" name="vendor" value="#{vendor}")     
                                
                                each campo in campana.fields                                    
                                    .form-group
                                        label.col-sm-7.control-label #{campo.name}
                                        .col-sm-5
                                            input.form-control.campoInput(type="text" name="busrad" data-name='#{campo.name}' required)
                                .col-md-12
                                        hr 
                                        .pull-right
                                            button.btn.btn-success.btn-lg(type="submit") Registrar
                    else
                        form#formVenta(method="post" action="/admin/vendedores/venta/#{nit}" )
                            .col-md-12
                                .col-md-3                        
                                    .form-group
                                        input#distribuidor(type="hidden" name= "distribuidor" value="#{distribuidor}") 
                                        input#nit(type="hidden" name="nit" value="#{nit}")                            
                                        input#vendor(type="hidden" name="vendor" value="#{vendor}")     
                                    each campo in campana.fields
                                        .form-group
                                            label #{campo.name}
                                            input.form-control.campoInput(type="text" name="busrad" data-name='#{campo.name}' required)
                                    .col-md-12
                                        hr 
                                        .pull-right
                                            button.btn.btn-success(type="submit") Registrar
    <!-- Update Venta Modal -->
    .modal.fade#updateVentaModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;     
                    h4.modal-title ¿Desea actualizar la venta de este periodo?                                    
                .modal-body
                    form
                        p#deleteModal_p Ya se encuentran registradas ventas para este periodo. 
                        br     
                .modal-footer
                    button.btn(data-dismiss="modal" aria-hidden="true") Cancelar
                    a.btn.btn-success(onclick='actualizarVenta()')  Aceptar

block scripts
    script.
        var ventaid = '';
        // llenar campos si hay info en la campana
        var campana = '#{campana._id}';
        var vendor = '#{vendor}';
        $.ajax({
           type: "GET",
           url: '/api/readSaleByVendorCampana?campana=' + campana + '&vendor=' + vendor,
           success: function(response){
                if(response.success){
                    $.each(response.sale.fields,function(i,v){
                        $('input:text.campoInput').each(function(i1,v1){
                            if(i == i1){
                                $(this).val(v.value);   
                            }    
                        });                             
                    });
                }
           }
        });
        // Registar Venta
        $('#formVenta').submit(function(evt){
            evt.preventDefault();
            var url = $(this).attr('action');
            var dataTable = [];

            $('input:text.campoInput').each(function(index,val){
                dataTable[index]={
                    "value" :$(this).val(),
                    "name" : $(this).data('name')
                }
            });

            var venta = {
                campana: '#{campana._id}',
                distribuidor: $('#distribuidor').val(),
                nit: $('#nit').val(), 
                vendor: $('#vendor').val(),
                fields: dataTable,
                duplicados: #{campana.duplicados}
            }

            $.ajax({
               type: "POST",
               data: venta,
               url: url,
               success: function(response){
                 if(response.success){
                    if(!#{admin}){
                        window.location = '/vendedores';
                    }else{
                        window.location = '/admin/distribuidor/' + venta.nit + '?distribuidor=' + venta.distribuidor;
                    }
                 }else if(response.duplicate){
                    ventaid = response.ventas;
                    $('#updateVentaModal').modal('show')
                 }
                 else{
                    errAlert(response.err);
                 }
               }
            });
        });

        function actualizarVenta(){
            
            $('#updateVentaModal').modal('hide');

            var url = $('form').attr('action');
            var dataTable = [];

            $('input:text.campoInput').each(function(index,val){
                dataTable[index]={
                    "value" :$(this).val(),
                    "name" : $(this).data('name')
                }
            });

            var venta = {
                campana: '#{campana._id}',
                distribuidor: $('#distribuidor').val(),
                nit: $('#nit').val(), 
                vendor: $('#vendor').val(),
                fields: dataTable,
                id: ventaid
            }
            $.ajax({
                   type: "PATCH",
                   data: venta,
                   url: url,
                   success: function(response){
                     if(response.success){
                        if(!#{admin}){
                            window.location = '/vendedores';
                        }else{
                            window.location = '/admin/distribuidor/' + venta.nit + '?distribuidor=' + venta.distribuidor;
                        }
                     } else {
                        errAlert(response.err);
                     }
                   }
            });
        }
